/* Banner CSS Start */
.banner-wapper {
  padding: 0;
}

.banner-wapper .breadcrumb-section.title-wpper {
  padding: 65px 0px 65px 0px;
}

.breadcrumb-section {
  background-color: transparent;
  padding: 0px 0;
}

.breadcrumb-section .breadcrumb {
  justify-content: flex-start;
}

.banner-wapper .breadcrumb-section.title-wpper .page-title h2 {
  color: #dddddd;
  font-size: 60px;
    font-weight: 900;
  width: 100%;
  display: inline-block;
  text-transform: capitalize;
}

.banner-wapper .breadcrumb-section.title-wpper .title-border {
  height: 3px;
  width: 100px;
  background: #f35c51;
  display: inline-block;
}

.banner-nev .nav-item a {
  position: relative;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.banner-nev .nav-item a:after {
  content: '';
  height: 40%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 12px;
  background-color: #000000;
}

/* Banner CSS End */

.about-page-bgimg {
  padding: 5rem 1rem;
  background-position: center;
  background-size: 100%;
}

.about-page-bgimg .abour-content-wapper {
  padding: 3rem;
  background: white;
}

.about-page .abour-content-wapper h2 {
  text-transform: none;
}

.about-cls section.service.small-section {
  margin: 0 auto;
  width: 75%;
  padding: 60px 0px;
}

.theme-color-11.abt{
  background-color: white;

}
.about-page.abtclr{
  background-color: white;
}

.about-cls.iconss {
  background-color: white;
}
.about-page .abour-content-wapper p {
  line-height: 19.8px;
  color: black;
  font-size: 16px;

}

.service-block+.service-block {
  border-left: none;
}

.about-cls .service-block img {
  margin-right: 30px;
}

.about-cls .service-block .icon-vison h3 {
  color: #000000;
  font-weight: bold;
}


.about-cls .service-block .icon-vison p {
  line-height: 19.8px;
  color: black;
  font-size: 14px;
  font-weight: 400;

}

.testimonial-slider .slick-slide .media {
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #d2cfcc;
  border-radius: 6px;
}

.testimonial .testimonial-slider .slick-track .slick-slide:nth-child(even) .media {
  padding-left: 15px;
}

.testimonial .testimonial-slider .slick-track .slick-slide .media .text-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial .testimonial-slider .media img {
  float: left;
  width: 30%;
  display: inline-block;
  height: auto;
}

.testimonial .testimonial-slider .media .slider-content {
  float: left;
  width: 60%;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}

.testimonial .testimonial-slider .media .slider-content .srat-rating-wapper .checked {
  color: orange;
}

.testimonial .testimonialtext h2 {
  color: #000000;
  font-weight: 800;
  text-transform: none;
}

.about-page .about-page-bgimg2 {
  background-image: url(../../assets/images/about/About-us-2.png);
  padding: 5rem 1rem;
  background-position: center;
  background-size: 100%;
}

.abour-content-wapper {
  padding: 3rem;
  background: white;
}

.testimonial .review-button-wapper .btn-outline-secondary {
  border: 2px solid #1a75cd !important;
}

.testimonial {
  margin: 0px;
}

.about-page .about-page-bgimg {
  background-image: url(../../assets/images/about/About-us-1.png);
}

.about-page .about-page-bgimg2 {
  background-image: url(../../assets/images/about/About-us-2.png);
}

.mobilehide {
  display: block;
}


@media (max-width: 992px) {

  .mobilehide {
    display: none;
  }

  .about-page-bgimg .abour-content-wapper {
    padding: 0rem;

  }


  .about-page .about-page-bgimg {
    background-image: none;
  }

  .about-page-bgimg {
    padding: 0rem 1rem;
  }

  .abour-content-wapper {
    padding: 0rem;
    margin-bottom: 20px;
  }



  section,
  .section-t-space {
    padding-top: 10px;
  }

  .about-page .about-page-bgimg2 {
    background-image: none;
    padding: 11px;
    margin-top: 30px;
  }

  .about-cls section.service.small-section {

    width: 100%;
    padding: 10px 0px;
  }

}


@media (max-width: 575.98px) {
  .about-cls .service-block img {
    margin-right: 0px;
  }
}