
.about-page.privacypolicy {
  padding-top: 0px !important;
}

.about-page.privacypolicy .about-page-bgimg {
  padding: 1rem 0rem;
}

.about-page.privacypolicy .about-page-bgimg .abour-content-wapper h2 {
  padding-top: 2rem;
}

.about-page-bgimg .abour-content-wapper {
  padding: 0rem;
  background: white;
  width: 81%;
  margin: 0px auto;
}

.about-page.privacypolicy .abour-content-wapper p {
  line-height: 19.8px;
  color: black;
  font-size: 17px;
}

.banner-wapper .breadcrumb-section.title-wpper {
  padding: 5px 0px 50px 0px;
}

.sellerpdfslider .sellerpdfslider-wrap {
  padding: 10px;
  background: #ebecee;
}

.sellerpdfslider .sellerpdfslider-wrap .img-wrapper {
  border: 2px solid #bdbdbd;
  padding: 10px;
}

.sellerpdfslider .sellerpdfslider-wrap .img-wrapper:hover .sellerpdfslider_link a {
  color: #fff;
}

.sellerpdfslider .sellerpdfslider-wrap .img-wrapper:hover {
  background-color: #e7372b;
  border-color: #e7372b;
}

.sellerpdfslider .sellerpdfslider-box .img-wrapper:hover .front i {
  background-color: white;
  color: #e7372b;
}

.sellerpdfslider .sellerpdfslider-box .img-wrapper .front {
  text-align: center;
}

.sellerpdfslider .sellerpdfslider-box .img-wrapper .front i {
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 55px;
}

.sellerpdfslider .sellerpdfslider-box .img-wrapper .sellerpdfslider_link a {
  font-size: 17px;
  color: black;
  margin-top: 5px;
  display: block;
  font-weight: 500;
}

.breadcrumb-section .breadcrumb {
  padding: 0;
}

.breadcrumb-section .breadcrumb-inner-section {
  padding: 10px 0px;
}

.breadcrumb-section .breadcrumb a {
  color: #fff;
  font-size: 12px;
}

.breadcrumb-section .breadcrumb-item.active {
  color: #fff;
  font-size: 12px;
  margin-top: 3px;
}

.banner-wapper .breadcrumb-section.title-wpper {
  height: 250px;
}

.customerprofile-main {
  padding: 0px;
  margin-top: -5rem;
  padding-bottom: 3rem;
}

.customerprofile-main .container {
  max-width: 75%;
}

.customerprofile-main .customerprofile-top-wapper {
  margin-bottom: 4rem;
}

.customerprofile-main .customerprofile-info .customerprofile-top-wapper h2 {
  color: #fff;
  font-size: 25px;
  margin-top: 1.5rem;
}

.customerprofile-main .customerprofile-info .customerprofile-bottom-wapper {
  margin-top: 1rem;
}

.customerprofile-main .customerprofile-info .customerprofile-bottom-wapper strong {
  color: gray;
  padding: 20px 10px;
  display: inline-block;
}

.customerprofile-main .customerprofile-info .customerprofile-bottom-wapper .table th {
  width: 40%;
}

.customerprofile-main .customerprofile-info .customerprofile-bottom-wapper .table-striped>tbody>tr {
  border: none;
  border-color: transparent;
}

.customerprofile-main .customerprofile-info .customerprofile-bottom-wapper .table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(0 0 0 / 0%);
  background-color: #f4f4f4;
}

.addtocart_count .slick-next,
.addtocart_count .slick-prev {
  background-color: transparent;
}

footer {
  top: 0px;
}



@media (max-width: 992px) { 
.banner-wapper .breadcrumb-section.title-wpper {
  height: 200px;
}
  
    section.addtocart_count.ratio_square {
      padding: 40px 60px;
   }

 }


 @media (max-width: 768px) {
  .banner-wapper .breadcrumb-section.title-wpper {
    height: 150px;
 }

}

@media (max-width: 576px) { 

  .customerprofile-main {
    margin-top: -3.5rem;
  }

  .customerprofile-main .customerprofile-info .customerprofile-top-wapper h2 {
    font-size: 14px;
    margin-top: 1rem;
}


.customerprofile-main .customerprofile-info .customerprofile-mid-wapper h2 {
  font-size: 18px;
  font-weight: 900;
}

}