@charset "UTF-8";


.dashboard-section .dashboard-table img {
    max-width: 100% !important;
}

.dashboard-section .dashboard-table .dashboardicon img {
    width: 25px;

}

.faq-tab .nav-tabs .nav-item .mydashboard-nav.nav-link {

    color: white;
    background-color: #000b31;
}

.faq-tab .nav-tabs .nav-item .mydashboard-nav.nav-link.active {

    color: #000b31;
    background-color: white;
    border-right: none;
}



.dashboard-section .dashboard-sidebar.mydashboardsidebar {
    position: sticky;
    top: 30px;
    z-index: 1;
    padding: 30px 0 0px 0;
    background-color: #01135b;
}

.dashboard-section .row.my-dashboardpadding>* {
    padding-left: calc(var(--bs-gutter-x) / 0);
    padding-right: calc(var(--bs-gutter-y) / 0);
}

.dashboard-section .dashboard-table .table th,
.dashboard-section .dashboard-table .table td {
    vertical-align: middle;
    text-transform: capitalize;

}


.table>thead {
    vertical-align: bottom;
    color: white;
    background-color: #787878;
}


.my-dashboardpadding .profile-detail h5 {
    color: white;
    text-align: left;
}

.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.switch-input:checked~.switch-label {
    background: #89b643;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked~.switch-label:before {
    opacity: 0;
}

.switch-input:checked~.switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked~.switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
            ========================== */
.switch-label,
.switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}




.tab-pane .card .card-body .top-sec h3 .fa.fa-th-large {
    color: #d22027;
    margin-right: 20px;
    margin-left: 10px;
}

.dashboard-section .dashboard-table .table th,
.dashboard-section .dashboard-table .table td {
    padding-left: 20px !important;
}




.dashboard-section .dashboard-user {
    padding-top: 200px;
    background-color: #000b31;

}

.dashboard-section .user-text {
    color: white;
    padding-bottom: 30px;

}

.tab-pane .dashboard-box .row.mid-sec .custom-colorpara {
    color: #00239b;
}

.tab-pane .dashboard-box .row.mid-sec .custom-line {
    opacity: 1 !important;
    color: #00239b;
}

.form-label {
    font-weight: 600;
}



.dashboard-box .custombuttondash .btn {
    line-height: 12px;
    font-size: 11px;
}

.dashboard-box .custombuttondash .btn.btn-light {
    border-color: #b5b5b5
}


.btn.btn-primarynew {
    background-color: #00239b;
    border-color: none;
    outline: none;
    color: #fff;
}

.card.mydasboardcard {
    padding: 1rem 3rem;
}

.dashboard-box .dasboardbtnlong.btn.btn-primary {
    background-color: #00239b;
    width: 200px;
}

.dashboard-box .dasboardbtn.btn.btn-primary {
    background-color: #00239b;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: white;
}

.form-select {
    border-radius: 0px;
}


#msform fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform .action-button {
    width: 100px;
    background-color: #00239b;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.banner-wapper {
    padding-top: 0;
}

.dark-breadcrumb {
    background-color: #212121;
    padding: 0;
}

.dark-breadcrumb .breadcrumb {
    padding: 0.40rem 1rem;
    justify-content: flex-start;
}

.dark-breadcrumb .breadcrumb-item {
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
}

.breadcrumb-section .breadcrumb a {
    color: #fff;
}

.sellersupport-form hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dashboard-section .my-dashboardpadding .tab-content {
    padding: 10px 20px;
    background: #f8f8f8;
}

.sellersupport-form-wapper .sellersupport-form .sellersupport-group {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.sellersupport-form-wapper .sellersupport-form .sellersupport-group span {
    margin-left: 5px;
}

.sellersupport-form-wapper .sellersupport-form .input-group textarea {
    height: 77px;
    resize: none;
    margin-bottom: 20px;
    font-size: 13px;
    margin-top: 20px;
}

.sellersupport-form-wapper .sellersupport-form .btn {
    background-color: #4e8df4;
    border: none;
    width: 25%;
}

.sellersupport-faq-wapper .faq-heading-wapper {
    display: inline-block;
    width: 100%;
    background-color: #f35c51;
    padding: 10px 20px;
    margin-top: 4rem;
}

.sellersupport-faq-wapper .faq-heading-wapper .faq-heading {
    float: left;
    color: #fff;
    font-weight: bold;
}

.sellersupport-faq-wapper .faq-heading-wapper .faq-icon {
    float: right;
    color: #fff;
}

.sellersupport-faq-wapper .faq-content-wapper {
    border: 1px solid #c7c7c7;
    padding: 10px 20px;
    margin-top: -6px;
    margin-bottom: 4rem;
}

.sellersupport-faq-wapper .faq-content-wapper .card {
    background-color: transparent;
    margin-top: 0px;
}

.sellersupport-faq-wapper .faq-content-wapper .card .card-header {
    background-color: transparent;
}

.sellersupport-faq-wapper .faq-content-wapper .card .card-header .btn.btn-link {
    color: black;
    text-decoration: none;
    padding: 0px;
    font-size: 13px;
    text-transform: capitalize;
}

.sellersupport-feedback-form-wapper {
    margin-bottom: 4rem;
}

.sellersupport-feedback-form-wapper .sellersupport-feedback-form .form-group input {
    font-size: 13px;
}

.sellersupport-feedback-form-wapper .sellersupport-feedback-form .input-group textarea {
    height: 77px;
    resize: none;
    margin-bottom: 20px;
    font-size: 13px;
}

.sellersupport-feedback-form-wapper .sellersupport-feedback-form .btn {
    background-color: #4e8df4;
    border: none;
    width: 25%;
}

.sellersupport-feedback-form-wapper .sellersupport-feedback-form .top-lavel {
    margin-bottom: 15px;
}

.feedback-calltoaction-wapper .feedback-calltoaction img {
    width: 75%;
}