.about-page.privacypolicy {
  padding-top: 0px !important;
  background-color: white !important;
}

.about-page.privacypolicy .about-page-bgimg {
  padding: 1rem 0rem;
}

.about-page.privacypolicy .about-page-bgimg .abour-content-wapper h2 {
  padding-top: 2rem;
}

.banner-wapper .breadcrumb-section .container{
  max-width: 1400px;
  padding: 0px 150px;
}

.about-page-bgimg .abour-content-wapper {
  padding: 0rem;
  background: white;
  width: 81%;
  margin: 0px auto;
}

.about-page.privacypolicy .abour-content-wapper p {
    line-height: 19.8px;
    color: black;
    font-size: 17px;
}


.about-page.privacypolicy .about-page-bgimg {
  background-image: none;
  padding: 20px 60px;
}

@media (max-width: 768px) { 
  
  .about-page.privacypolicy .about-page-bgimg {
    padding: 0px; 
}

.about-page.privacypolicy .abour-content-wapper p {
text-align: left;
}

.about-page.privacypolicy .about-page-bgimg .abour-content-wapper h2 {
text-align: left;
}

.banner-wapper.privacypoli .breadcrumb-section .container {
  padding: 0px 73px;
}

.banner-wapper.privacypoli .breadcrumb-section.title-wpper .page-title h2 {

  font-size: 35px;
}

}

@media (max-width: 576px) { 
   .banner-wapper.privacypoli .breadcrumb-section.title-wpper .page-title h2 {
    font-size: 32px;
    text-align: left;
}

.banner-wapper .breadcrumb-section.title-wpper {
  padding: 30px 0px 20px 0px;
}
 }