.product-image-wapper .content-carousel {
    width: 600px;
    display: block;
    margin: 0 auto;
}

.product-image-wapper .owl-carousel {
    width: calc(100% - 75px);
}

.product-image-wapper .owl-carousel div {
    width: 100%;
}

.product-image-wapper .owl-carousel .owl-controls .owl-dot {
    background-size: cover;
    margin-top: 10px;
}

.product-image-wapper .owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    left: -75px;
    width: 70px;
    height: 100%;
}

.product-image-wapper .owl-carousel .owl-dot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.technichal-details ol li {
    display: revert;
}

.productstockdetail-wapper .horizontel-slider {
    float: left;
    width: 30%;
    padding: 0px 10px;
    margin: 27px 0px;
}

.productstockdetail-wapper .product-image-wapper {
    float: left;
    width: 70%;
    /* display: inline-block; */
}

.horizontel-slider .slider-right-nav .slick-prev {
    transform: rotate(90deg);
    top: -40px;
    bottom: unset;
    left: 40%;
    z-index: 9999;
    background-color: unset;
}

.horizontel-slider .slider-right-nav .slick-next {
    transform: rotate(90deg);
    bottom: -30px;
    top: unset;
    left: 40%;
    z-index: 9999;
    background-color: unset;
}

.horizontel-slider .slider-right-nav .slick-prev:before,
.horizontel-slider .slider-right-nav .slick-next:before {
    color: black;
}