.product-image-wapper .content-carousel {
    width: 600px;
    display: block;
    margin: 0 auto;
}

.product-image-wapper .owl-carousel {
    width: calc(100% - 75px);
}

.product-image-wapper .owl-carousel div {
    width: 100%;
}

.product-image-wapper .owl-carousel .owl-controls .owl-dot {
    background-size: cover;
    margin-top: 10px;
}

.product-image-wapper .owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    left: -75px;
    width: 70px;
    height: 100%;
}

.product-image-wapper .owl-carousel .owl-dot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.technichal-details ol li {
    display: revert;
}