.about-page.termsandconditionsofuse {
  padding-top: 0px !important;
}

.banner-wapper .breadcrumb-section .container {
  max-width: 1400px;
  padding: 0px 150px;
}

.about-page.termsandconditionsofuse .about-page-bgimg {
  padding: 1rem 0rem;
}

.about-page-bgimg .abour-content-wapper.termandcond {
  padding: 0rem 8rem;
}
.about-page.termsandconditionsofuse .about-page-bgimg .abour-content-wapper h2 {
  padding-top: 2rem;
  font-weight: 900;
}

.about-page .abour-content-wapper.termandcond p{
  line-height: 24.8px;
  color: #5a5858;
  font-size: 17px;
  font-weight: 600;

}

.about-page.termsandconditionsofuse .about-page-bgimg {
  background-image: none;
}


@media (max-width: 768px) { 
  .about-page.termsandconditionsofuse .about-page-bgimg .abour-content-wapper h2 {
    text-align: left;
}

.about-page .abour-content-wapper.termandcond p {
  text-align: left;
}

.about-page-bgimg .abour-content-wapper.termandcond {
  padding: 0rem 4rem;
}

 }

 @media (max-width: 576px) { 

 .banner-wapper .breadcrumb-section.title-wpper .page-title h2 {
   text-align: left;
 }

 .about-page-bgimg .abour-content-wapper.termandcond {
  padding: 0rem 2rem;
}
  
  }